@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@tailwind base;
@tailwind components;
@tailwind utilities;

.recharts-tooltip-wrapper {
  color: #111;
}
.dark .recharts-tooltip-wrapper {
  color: #f9fafb;
  background-color: #1e293b !important;
  border: 1px solid #334155;
  border-radius: 6px;
  padding: 4px 8px;
}

html {
  transition: background-color 0.3s ease, color 0.3s ease;
}


.dark .recharts-reference-area {
  transition: fill 0.3s ease, stroke 0.3s ease;
}

.recharts-tooltip-wrapper {
  color: #111;
}
.dark .recharts-tooltip-wrapper {
  color: #f9fafb !important;
  background-color: #1e293b !important;
  border: 1px solid #334155 !important;
  border-radius: 6px;
  padding: 4px 8px;
}
